{% import 'modules/custom/htmx_plus/modules/htmx_plus_web_1_0_app/templates/macro/form_errors.html.twig' as formErrors %}

<h1>Edit Contact</h1>

<form method="post" action="/contacts/{{ contact.id }}/edit">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ contact.name }}">
    {{ formErrors.displayError(validationResult, 'name') }}
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ contact.email }}">
    {{ formErrors.displayError(validationResult, 'email') }}
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" value="{{ contact.phone }}">
    {{ formErrors.displayError(validationResult, 'phone') }}
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>

<button {{ hx_attributes({
  delete: '/contacts/' ~ contact.id ~ '/edit',
  target: 'body',
  'push-url': 'true',
  confirm: 'Are you sure you want to delete this contact?',
  }) }}>Delete Contact</button>

<p>
  <a href="/contacts/{{ contact.id }}">Back to Contact</a>
</p>

<p>
    <a href="/contacts/">Back to Contacts</a>
</p>
