{% import 'modules/custom/htmx_plus/modules/htmx_plus_web_1_0_app/templates/macro/form_errors.html.twig' as formErrors %}

<form action="/contacts/new" method="post">
  <fieldset>
    <legend>Contact Values</legend>

    <p>
      <label for="name">Name</label>
      <input name="name" id="name" type="text" placeholder="Name" value="{{ contact.name }}">
      {{ formErrors.displayError(validationResult, 'name') }}
    </p>
    <p>
      <label for="email">Email</label>
      <input name="email" id="email" type="email" placeholder="Email" value="{{ contact.email }}">
      {{ formErrors.displayError(validationResult, 'email') }}
    </p>
    <p>
      <label for="phone">Phone</label>
      <input name="phone" id="phone" type="tel" placeholder="Phone" value="{{ contact.phone }}">
      {{ formErrors.displayError(validationResult, 'phone') }}
    </p>
    <p>
      <input type="submit" value="Save">
    </p>
  </fieldset>
</form>

<p>
	<a href="/contacts">Back</a>
</p>
